#Content{
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
  flex-wrap: wrap;
  width:80vw;
  padding: 0 10vw 15vh;
  background-color: black;
  color: white;
}

h3 {
  border-radius: 1rem;
  border: #eee solid 1px;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

form{
	display: flex;
	flex-direction: row;
  flex-wrap: wrap;
	align-items: flex-start;
  justify-content: space-between;
  width: 80vw;
  padding:10vh 5vw;
}

form > * {
  min-height: 20vw;
  min-width: 25vh;
  width: 15%;   
}

form > ul{
	margin : 0;
	list-style: none;
}


#Reservation-Info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#Reservation-Info > div> span:first-child{
  font-weight: bold;
  background-color: rgba(255,255,255,0.3);
  padding: 0.3rem;
  border-radius: 0.3rem;
  height:  1rem;
}
#Reservation-Info > div> span:last-child{
  margin-left: 1rem;
}
.Reservation-Info-Item {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

#Cuppon-list{
  padding: 0;
}

#Cuppon-list > li > label{
  position: relative;
  display: flex;
  flex-direction: row;
/*  width: 15vw;*/
  height: 10vh;
  padding: 1vh 1vw;
  margin: 2vh 0;
  background-color: rgba(255,255,255,0.2);
}

#Cuppon-list > li > label.active{
  border: #bfff00 solid 1px;
}

#Cuppon-list > li > label h5{
  margin:0;
} 

.cuppon_name {

}

.cuppon_discounts{
  position : absolute;
  bottom: 1vh;
  right: 1vw;
}
.cuppon_expireDate{
  position : absolute;
  bottom:1vh;
  left:1vw;
}

#Payment-methods{
  padding: 0;
}

#Payment-methods li label {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 10vh;
}

#Payment-methods h5{
  margin : 0;
}

#Payment-methods li label select{
  position: absolute;
  top:0;
  right:0;
}

#Payment{
  
}

#Payment > div {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}


#Payment > div> span:first-child{
  font-weight: bold;
  background-color: rgba(255,255,255,0.3);
  padding: 0.3rem;
  border-radius: 0.3rem;
  height:  1rem;
}

#checkOutBtn {
  position : absolute;
  bottom: 25%;
  right: 15%;
  width: 15vw;
  padding:1.5vw;
  text-align: center;
  background-color : rgba(240,240,240,0.2);
  font-weight: bold;
  color: white;
  border-radius: 10px;
}

#checkOutBtn:hover {

    background-color: rgba(191, 255, 0, 0.5);
    color: black;
    border: 1px solid rbga;
    border-color: black;
}
